<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>メモ作成</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1 class="app-title">メモ作成</h1>
            <a th:href="@{/}" class="btn btn-outline"><i class="ri-arrow-left-line"></i> 戻る</a>
        </div>

        <div class="note-form-card">
            <form th:action="@{/memo/create}" th:object="${memo}" method="post">
                <div class="form-group">
                    <label>タイトル：</label>
                    <input type="text" name="title" th:field="*{title}">
                    <!-- ここにエラーメッセージを表示してください -->
                    <div class="error-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">タイトルを入力してください。</div>
                </div>

                <div class="form-group">
                    <label>内容：</label>
                    <textarea name="content" th:field="*{content}"></textarea>
                    <!-- ここにエラーメッセージを表示してください -->
                    <div class="error-message" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">内容を入力してください。</div>
                </div>

                <div class="form-button-container">
                    <button type="submit" class="btn btn-primary">作成</button>
                </div>
            </form>
        </div>
    </div>
    <script th:src="@{/js/common.js}"></script>
</body>

</html>